
<div class="header">
  <h1>{{ anime?.title }}</h1>
</div>

<div class="body">
  <div class="body-container">
    <div class="img-container">
      <img [src]="anime?.imageLink" />
    </div>
    <div class="description-cont">
      <h3>{{ anime?.description }}</h3>
    </div>
    <div class="links">
      <span class="episodes" *ngFor="let episode of episodes">
        <a [href]="'/links/' + id + '?s=' + episode.season + '&p=' + episode.part">{{episode.season}} s {{episode.part}} p
         </a>
         <!-- <div *ngFor="let link of episode?.links">
            {{link.link}} / {{link.quality}} / {{link.storageName}} <br>
          </div>-->
        </span>
    </div>
  </div>
</div>

<div class="footer"></div>

<div *ngIf="userRoles != undefined">
<hr>

<button mat-button mat-raised-button (click)="deleteAnime(id)" color="warn">Delete this anime</button>
<hr>

<app-add-episode [animeId]="id"></app-add-episode>

</div>