<div class="header">
  <h1>{{ anime?.title }}</h1>
</div>

<div class="body">
  <div class="body-container">
    <div class="img-container">
      <img [src]="anime?.imageLink" />
    </div>
    <div class="description-cont">
      <h3>{{ anime?.description }}</h3>
      <p>more details....</p>
      <p>anime epizodes / other movie stb ...</p>
    </div>
    <div class="links">Sajtoslink</div>
  </div>
</div>

<div class="footer"></div>

<!--
cim (angol japan),
leiras,
kep,
kategoria,
epizodok szama, evadok szam,

Linkek -->
