<nb-card>
    <nb-card-body class="example-items-col">
      <input type="text" nbInput fullWidth status="basic" placeholder="Title">
      <textarea nbInput fullWidth placeholder="Full width"></textarea>
      <input type="text" nbInput fullWidth status="basic" placeholder="ImageLink">
      <input type="text" nbInput fullWidth status="basic" placeholder="Keywords">
      <input type="text" nbInput fullWidth status="basic" placeholder="Category">
      <button nbButton status="primary">Submit</button>
    </nb-card-body>
  </nb-card>